<div class="dbb-cover div-block-beschr">
  <div class="div-beschr">
    <div data-ix="hl-reveal" class="hl-wrapper">
      <h2 data-ix="hide-hl" class="hl-ani">ABOUT QCI ITCELL</h2>
      <div data-ix="hide-color-bar" class="color-bar"></div>
    </div>
    <p>Dorem die Jahre hat sich eine schöne Kollektion an CD-Covers angesammelt, die wir für etage noir special gestaltet haben. Der Großteil der Covers entstand für die Band A.G.Trio, einer bekannten electro Formation aus Linz mit einer ordendlichen Portion Humor - was sich auch in den Cover Designs widerspiegelt.</p>
  </div>
</div>