
<div class="ch2 section-content-head">
  <div class="div-projekte-head projekte-head2">
    <div class="div-typo-meintisch"></div>
    <div data-ix="fade-in-3" class="container-head">
      <div class="div-txt-top dtt-percent w-clearfix">
        <div class="div-hl-mini">
          <div class="txt-hl-mini">Junge Digitale</div>
          <div class="line1"></div>
        </div>
        <h1 class="heading-2">PROJECTS<br><span class="txt-white">CASE STUDIES UND AUSGEWÄHLTE ARBEITEN</span></h1>
        <div class="sl-head">
          <p>Case studies sagen mehr als tausend Worte. Hier präsentieren wir ausgewählte Projekte aus den Bereichen Webdesign, TYPO3, Print, SEO und Fotografie, die einen repräsentativen Querschnitt unser Arbeit darstellen sollen. Schauen Sie öfter mal vorbei - wir bauen ständig aus.</p>
        </div>
      </div>
    </div>
    <div class="div-container-projects">
      <div class="div-box-project">
        <a href="#" data-w-id="25aa9a7d-6db5-13b9-349e-4638c704ee6a" class="div-content-project w-inline-block">
          <div class="div-image-project"><img src="assets/images/refens2.jpg" alt=""></div>
          <div class="div-txt-project">
            <div class="hl-referenz hlr1">
              <div data-ix="hl-reveal" class="hl-wrapper hlwrapper2">
                <h2 data-ix="hide-hl" class="black hl-ani hlsmall">etage noir special</h2>
                <div data-ix="hide-color-bar" class="cb-black color-bar"></div>
              </div>
            </div>
            <div class="line1 line1b"></div>
            <div class="txt-referenz txtref2">Webdesign</div>
          </div>
          <div class="spot"></div>
        </a>
      </div>
      <div class="div-box-project">
        <a href="#" data-w-id="89adc3d5-2558-6694-89f8-59ffea61f330" class="div-content-project w-inline-block">
          <div class="div-image-project"><img src="assets/images/ref_meintisch.jpg" alt=""></div>
          <div class="div-txt-project">
            <div class="hl-referenz hlr1">
              <div data-ix="hl-reveal" class="hl-wrapper hlwrapper2">
                <h2 data-ix="hide-hl" class="black hl-ani hlsmall">mein Tisch</h2>
                <div data-ix="hide-color-bar" class="cb-black color-bar"></div>
              </div>
            </div>
            <div class="line1 line1b"></div>
            <div class="txt-referenz txtref2">Webdesign, Logodesign, SEO</div>
          </div>
          <div class="spot"></div>
        </a>
      </div>
      <div class="div-box-project">
        <a href="#" data-w-id="7748b99f-b3ac-f1d9-b7ec-08173f632c5e" class="div-content-project w-inline-block">
          <div class="div-image-project"><img src="assets/images/ref_meintisch.jpg" alt=""></div>
          <div class="div-txt-project">
            <div class="hl-referenz hlr1">
              <div data-ix="hl-reveal" class="hl-wrapper hlwrapper2">
                <h2 data-ix="hide-hl" class="black hl-ani hlsmall">Sabina Ellmauer-Jocher</h2>
                <div data-ix="hide-color-bar" class="cb-black color-bar"></div>
              </div>
            </div>
            <div class="line1 line1b"></div>
            <div class="txt-referenz txtref2">Webdesign, Print, Fotografie, SEO</div>
          </div>
          <div class="spot"></div>
        </a>
      </div>
      <div class="div-box-project">
        <a href="#" data-w-id="25aa9a7d-6db5-13b9-349e-4638c704ee6a" class="div-content-project w-inline-block">
          <div class="div-image-project"><img src="assets/images/refens2.jpg" alt=""></div>
          <div class="div-txt-project">
            <div class="hl-referenz hlr1">
              <div data-ix="hl-reveal" class="hl-wrapper hlwrapper2">
                <h2 data-ix="hide-hl" class="black hl-ani hlsmall">etage noir special</h2>
                <div data-ix="hide-color-bar" class="cb-black color-bar"></div>
              </div>
            </div>
            <div class="line1 line1b"></div>
            <div class="txt-referenz txtref2">Webdesign</div>
          </div>
          <div class="spot"></div>
        </a>
      </div>
      <div class="div-box-project">
        <a href="#" data-w-id="fd694c6a-dd0b-7131-c39d-8237dffadf47" class="div-content-project w-inline-block">
          <div class="div-image-project"><img src="assets/images/ref_docsite.jpg" alt=""></div>
          <div class="div-txt-project">
            <div class="hl-referenz hlr1">
              <div data-ix="hl-reveal" class="hl-wrapper hlwrapper2">
                <h2 data-ix="hide-hl" class="black hl-ani hlsmall">DOCSITE</h2>
                <div data-ix="hide-color-bar" class="cb-black color-bar"></div>
              </div>
            </div>
            <div class="line1 line1b"></div>
            <div class="txt-referenz txtref2">Webdesign, TYPO3, SEO</div>
          </div>
          <div class="spot"></div>
        </a>
      </div>
      <div class="div-box-project">
        <a href="#" data-w-id="3419a645-a7cc-859d-5e36-958d650cf2ba" class="div-content-project w-inline-block">
          <div class="div-image-project"><img src="assets/images/refcovers2.jpg" alt=""></div>
          <div class="div-txt-project">
            <div class="hl-referenz hlr1">
              <div data-ix="hl-reveal" class="hl-wrapper hlwrapper2">
                <h2 data-ix="hide-hl" class="black hl-ani hlsmall">AGES / A.G.Trio</h2>
                <div data-ix="hide-color-bar" class="cb-black color-bar"></div>
              </div>
            </div>
            <div class="line1 line1b"></div>
            <div class="txt-referenz txtref2">CD-Cover Gestaltung</div>
          </div>
          <div class="spot"></div>
        </a>
      </div>
    </div>
  </div>
</div>
