<div data-ix="back2" id="uberuns" class="section2">
    <div class="container-4 w-container">
      <div class="div-section2">
        <div class="div-absatz">
          <div data-ix="hl-reveal" class="hl-wrapper">
            <h2 data-ix="hide-hl" class="hl-ani">ABOUT QCI IT CELL</h2>
            <div data-ix="hide-color-bar" class="color-bar"></div>
          </div>
          <p data-ix="fade-in-3"><strong>Der Mensch ist nur da ganz Mensch, wo er spielt.</strong> <br>Und das Internet ist der größte Spielplatz von allen. Junge Digitale sind ein Partner für alle, die erfolgreich mitspielen möchten. Mit unserem kreativen und technischen Know-how stellen wir Ihre Marke ins Rampenlicht und kreieren <strong>Webseiten</strong>, die es tatsächlich wert sind, geteilt zu werden. Wir lassen Sie mit Ihrem neuen <strong>Webdesign</strong> am Spielplatz gut aussehen.<br><br>Wir fühlen uns aber nicht nur im Netz zu Hause. Dank jahrelanger Agenturerfahrung sind Sie bei uns auch mit klassischen Projekten gut aufgehoben. Unser Firmensitz in Linz macht uns außerdem Österreichweit zu einem gut erreichbaren Ansprechpartner.</p>
          <!--<div class="div-sotd"><a href="http://www.bestcss.in/user/detail/JungeDigitale-6606" target="_blank" data-ix="award-blendin" class="links-sotd w-inline-block"><img src="images/sotd1.svg"></a><a href="https://www.csslight.com/website/20977/Junge-Digitale" target="_blank" data-ix="award-blendin-2" class="links-sotd w-inline-block"><img src="images/sotd2.svg"></a><a href="https://www.designnominees.com/sites/junge-digitale" target="_blank" data-ix="award-blendin-3" class="links-sotd w-inline-block"><img src="images/sotd3.svg"></a><a href="http://www.csswinner.com/details/junge-digitale/11974" target="_blank" data-ix="award-blendin-4" class="links-sotd w-inline-block"><img src="images/sotd4.svg"></a></div>-->
        </div>
      
       
      </div>
    </div>
  </div>