<!--<div data-w-id="1bf358a5-1921-ed6f-f894-f44d7ebbff7b" class="section-top">
  <div data-ix="blendin" data-w-id="ad55d376-6735-40cb-269b-1a30b7d61fbe" class="div-left w-clearfix">
    <div class="div-txt-top w-clearfix">
      <div class="div-hl-mini">
        <h2 class="txt-hl-mini">QCI IT CELL</h2>
        <div class="line1"></div>
      </div>
      <h1>APPLICATIONS<br><span class="txt-white">QCI IT CELL PROJECTS</span></h1>
      <div class="div-button-ref"><a href="projekte.html" data-ix="fade-in-3" class="button-gray w-button weblink-button">OUR PROJECTS</a></div>
    </div>
  </div>
  <div class="trigger"></div>
  <div class="div-lineraster"></div>
</div>-->
<div class="bottom w-hidden-small w-hidden-tiny">
  <div class="div-scrolldown">
    <div class="txt-scrolldown">scroll down</div><img src="assets/images/arrow_down.svg" data-ix="arrow-down" alt="icon scroll down" class="arrowdown"></div>
</div>

