<div data-ix="back3" id="projekte" class="section3">
  <div data-w-id="7a69fb25-c0ee-07bc-dfa4-74da1fca17b7" class="line-section w-hidden-small w-hidden-tiny"></div>
  <div data-ix="line-setion" class="div-referenzen">
    <div class="w-row">
      <div class="w-clearfix w-col w-col-6 w-col-stack">
        <div class="div-txt-referenzen w-clearfix">
          <div data-ix="hl-reveal" class="hl-wrapper">
            <h2 data-ix="hide-hl" class="black hl-ani">OUR PROJECTS</h2>
            <div data-ix="hide-color-bar" class="cb-black color-bar"></div>
          </div>
          <p data-ix="fade-in-3" class="para-black">Dorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
          <div class="div-weblink-button"><a routerLink="/allprojects" data-ix="fade-in-3" class="button-dark w-button weblink-button">All Projects</a></div>
        </div>
      </div>
      <div class="w-col w-col-6 w-col-stack"></div>
    </div>
    <div class="w-row">
      <div class="w-col w-col-6"></div>
      <div class="w-col w-col-6">
        <div class="div-ref-home">
          <a href="#" data-w-id="2259bb9f-aae2-f8f3-a32d-0d9324595d0d" class="div-content-project w-inline-block">
            <div class="div-image-project"><img src="assets/images/refens2.jpg" alt="Clubsite Webdesign"></div>
            <div class="div-txt-project">
              <div class="hl-referenz hlr1">
                <div data-ix="hl-reveal" class="hl-wrapper hlwrapper2">
                  <h2 data-ix="hide-hl" class="black hl-ani hlsmall">Project Management cum Analytics Dashboard</h2>
                  <div data-ix="hide-color-bar" class="cb-black color-bar"></div>
                </div>
              </div>
              <div class="line1 line1b"></div>
              <div class="txt-referenz txtref2">Webdesign, WebDevelopment</div>
            </div>
            <div data-w-id="5637c59f-31c2-cb1a-97ad-82ea6e61d16c" class="spot"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="w-row">
      <div class="w-clearfix w-col w-col-6">
        <div class="div-ref-home ref-home-left">
          <a href="#" data-w-id="c347b819-1c5f-36ab-3751-b53949a180c2" class="div-content-project w-inline-block">
            <div class="div-image-project"><img src="assets/images/ref_meintisch.jpg" alt="mein Tisch Webdesign"></div>
            <div class="div-txt-project">
              <div class="hl-referenz hlr1">
                <div data-ix="hl-reveal" class="hl-wrapper hlwrapper2">
                  <h2 data-ix="hide-hl" class="black hl-ani hlsmall">mein Tisch</h2>
                  <div data-ix="hide-color-bar" class="cb-black color-bar"></div>
                </div>
              </div>
              <div class="line1 line1b"></div>
              <div class="txt-referenz txtref2">Webdesign, WebDevelopment</div>
            </div>
            <div class="spot"></div>
          </a>
        </div>
      </div>
      <div class="w-col w-col-6"></div>
    </div>
    <div class="w-row">
      <div class="w-col w-col-6"></div>
      <div class="w-col w-col-6">
        <div class="div-ref-home">
          <a href="#" data-w-id="9f046a3d-4e5b-d9c6-aef4-6493c0cc6202" class="div-content-project w-inline-block">
            <div class="div-image-project"><img src="assets/images/refens2.jpg" alt="etage noir special Webdesign"></div>
            <div class="div-txt-project">
              <div class="hl-referenz hlr1">
                <div data-ix="hl-reveal" class="hl-wrapper hlwrapper2">
                  <h2 data-ix="hide-hl" class="black hl-ani hlsmall">etage noir special</h2>
                  <div data-ix="hide-color-bar" class="cb-black color-bar"></div>
                </div>
              </div>
              <div class="line1 line1b"></div>
              <div class="txt-referenz txtref2">Webdesign</div>
            </div>
            <div class="spot"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="last-row">
    <div class="w-row">
      <div class="w-clearfix w-col w-col-6">
        <div class="div-ref-home ref-home-left">
          <a href="#" data-w-id="cffc51d5-c4bf-4882-098e-cd41837de038" class="div-content-project w-inline-block">
            <div class="div-image-project"><img src="assets/images/refens2.jpg" alt="Husqvarna Fotografie"></div>
            <div class="div-txt-project">
              <div class="hl-referenz hlr1">
                <div data-ix="hl-reveal" class="hl-wrapper hlwrapper2">
                  <h2 data-ix="hide-hl" class="black hl-ani hlsmall">Husqvarna</h2>
                  <div data-ix="hide-color-bar" class="cb-black color-bar"></div>
                </div>
              </div>
              <div class="line1 line1b"></div>
              <div class="txt-referenz txtref2">Fotografie</div>
            </div>
            <div class="spot"></div>
          </a>
        </div>
      </div>
      <div class="w-col w-col-6"></div>
    </div>
  </div>
</div>