
<div class="top">
  <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
    <div class="w-clearfix"><a routerLink="/home" class="brand w-nav-brand">
      <img src="http://www.qcin.org/images/qci-logo.jpg" alt="Logo" class="logo"></a>
      <nav role="navigation" class="w-nav-menu"><a routerLink="/home" class="nav-link w-nav-link">Home</a>
        <a routerLink="/allprojects" class="nav-link w-nav-link">Projects</a>
        <a href="#" class="nav-link w-nav-link">Contact</a></nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</div>
