<div class="backgounds">
  <div class="background5">
    <div class="div-backgroundimage"></div>
    <div class="back-overlay"></div>
  </div>
  <div class="background4"></div>
  <div class="background3"><img src="images/projekte_white.svg" width="6440" data-ix="typescroll" alt="projekte" data-w-id="ce5765ce-0967-db2f-871d-6112fa8c6da8" class="txtback1 w-hidden-small w-hidden-tiny"><img src="images/projekte_white.svg" width="6440" alt="projekte" class="txtback-mobile w-hidden-main w-hidden-medium"></div>
 
</div>

