<div class="section-head-clubsite">
  <div data-delay="6000" data-animation="slide" data-autoplay="1" data-duration="500" data-infinite="1" class="slider w-slider">
    <div class="w-slider-mask">
      <div class="w-slide">
        <div class="content-slide-clubsite"><img src="http://www.qcin.org/images/presentation/DSC_32.jpg"  class="image-17"></div>
      </div>
      <div class="w-slide">
        <div class="content-slide-clubsite"><img src="http://www.qcin.org/images/presentation/DSC_32.jpg"  class="image-17"></div>
      </div>
      <div class="w-slide">
        <div class="content-slide-clubsite"><img src="http://www.qcin.org/images/presentation/DSC_32.jpg"  class="image-17"></div>
      </div>
    </div>
  </div>
</div>

 

